body{
    font-family: sans-serif;
    text-align: center;
    background: #f7f7f7;
}

.controls{
    margin:20px 
}

#barsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    margin-top: 30px;
    border:1px solid #ddd;
    background: white;
    padding: 100px;
}

.bar{
    width: 10px;
    margin: 0 2px;
    background-color:#4a90e2;
    transition: height 0.2s;
}